/* Global */

body {
    font-family: sans-serif;
}



header {
    text-align: center;
    background-color: var(--color-header);
}    

/* header */

header .sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    color: var(--color-logo);
}

header h1 img {
    height: 2rem;
    width: 2rem;
}


header .user {
    padding-left: 30px;
}


/* Main */

main ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

main li {
    background-color: var(--color-primary);
    padding: 10px; 
    border-radius: 5px;
    margin: 5px;
}

main ul li a {
    text-decoration: none;
    color: var(--color-logo);
}


main .column {
    float: left;
    width: 23%;
    margin: 0.1%,
}


main .column > div {
    background-color: var(--color-primary);


}

main .column div h2 {
    font-size: 2rem;
    color: var(--color-text);
}